body {
  background-color: #212529; /* Um fundo escuro para o nosso tema */
  padding: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap; /* Permite que as colunas se ajustem em telas menores */
  gap: 20px; /* Espaço entre as colunas */
  max-width: 1200px;
  margin: 40px auto; /* Centraliza o container na página */
}

.left-column {
  flex: 1; /* Ocupa 1 parte do espaço */
  min-width: 320px; /* Largura mínima */
}

.right-column {
  flex: 2; /* Ocupa 2 partes do espaço, sendo maior */
  min-width: 400px;
}

/* Estilos para nosso inventário de ícones */
.grid-container {
  display: grid;
  /* Cria colunas que se ajustam ao tamanho da tela */
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 25px; /* Espaço entre os itens */
  text-align: center;
  padding-top: 10px;
}

.grid-item .nes-icon {
  transform: scale(1.5); /* Deixa os ícones um pouco maiores */
}

.grid-item p {
  font-size: 10px; /* Fonte menor para o nome */
  margin-top: 10px;
  word-wrap: break-word;
}